@page
@model AulaRazorPages.Pages.IndexModel

@{
    var mTitle = Model.MyTitleTest;
}

<!DOCTYPE html>
<html>
<head>
    <title>@mTitle</title>
</head>
<body>
    <h1>@mTitle</h1>

    <a href="/movies">The best 10 movies in 2024</a>
</body>
</html>