@page
@model AulaRazorPages.Pages.IndexModel
@{
    var mTitle = "My first App";
}

<!DOCTYPE html>
<html>
<head>
    <title>@mTitle</title>
</head>
<body>
    <h1>@mTitle - Deyvid Rannyere de Moraes Costa</h1>
</body>
</html>