@page "/movies"
@model AulaRazorPages.Pages.MoviesModel

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<ul>
    @foreach (var filme in Model.MelhoresFilmes2024)
    {
        <li>@filme</li>
    }
</ul>

<a href="\">BACK</a>
